@font-face {
    font-family: 'DINNextLTProRegular';
    src: url('dinnextltpro-regular.eot');
    src: url('dinnextltpro-regular.eot') format('embedded-opentype'),
         url('dinnextltpro-regular.woff2') format('woff2'),
         url('dinnextltpro-regular.woff') format('woff'),
         url('dinnextltpro-regular.ttf') format('truetype'),
         url('dinnextltpro-regular.svg#DINNextLTProRegular') format('svg');
}
